*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

header{
    border: 2px solid;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(skyblue);
    padding: 10px 0px;    
}

.search{
    overflow: hidden;
}

.search input{
    /* border: 2px solid; */
    padding: 5px;
    font-size: 20px;
    width: 350px;    
}

.navbar{
    /* border: 2px solid; */
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    font-size: 25px;
    font-weight: bold;    
}

.navbar .nav{
    /* border: 2px solid; */
    display: flex;
    flex-wrap: wrap;    
    font-size: 25px;
    font-weight: bold;        
}

.navbar div{
    margin: auto 15px;
}

.navbar div a{
    color: black;
    /* text-shadow: 5px 5px 25px white; */
}
.navbar div a:hover{    
    color: white;
    text-shadow: 5px 5px 25px white;
}

.navbar .signin-signup{
    /* border: 2px solid; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;    
}

.navbar div a{
    text-decoration: none;
}

.slider{
    border: 2px solid;
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
    padding: 10px;
    background: url('./static/slider/1.png') no-repeat 80%/ cover;
    height: 350px;
    animation: slider 5s infinite;
}

@keyframes slider {
    33%{
        background: url("./static/slider/2.png") no-repeat 80%/ cover;
    }
    66%{
        background: url("./static/slider/1.png") no-repeat 80%/ cover;
    }
    100%{
        background: url("./static/slider/3.png") no-repeat 80%/ cover;
    }
}

.container{
    border: 2px solid;    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.container nav{
    width: 250px;
    border: 2px solid;
    font-size: 30px;
    background: linear-gradient(wheat);
    /* padding: 10px 0px; */
    /* background: url("/static/partners/3.png"); */
}

.container nav li{
    /* box-shadow: 1px 1px 1px 1px lightgreen; */
    padding: 20px 0px;
}

.container nav li:hover{
    box-shadow: 4px 4px 0px 4px lightcoral;
}

.container nav a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 0px 10px;
    list-style-position: inside;
}

.container nav a:hover{
    text-shadow: 4px 4px 14px red;
}

.container nav li::marker{
    content:"\👟"
}

.container main{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    min-width: 100px;
    max-width: 800px;
    justify-content: space-around;
    gap: 10px;
}

.product{
    border: 0.5px solid gray;
    padding: 10px 5px;
    text-align: center;
    font-family: calibri;
    /* margin-left: 10px; */    
}

.product p{    
    margin: 5px auto;
}

.product #addcart{
    border: 2px solid;
    height: 30px;
    width: 100px;
    background: orange;
}

.product #buynow{
    border: 2px solid;
    height: 30px;
    width: 100px;
    background: rgb(11, 191, 11);
}

.product img{
    height: 150px;
    margin: 10px auto;
}

.container img{
    margin: auto 10px;
    height: 150px;
    border: 2px solid;
    padding: 10px;
}

.container img:hover{
    opacity: 0.5;
    border: 2px solid red;
    box-shadow: 0px 0px 15px red, 0px 0px 15px red inset;
}

.container .about-description{
    margin: auto 10px;    
    border: 2px solid;
    padding: 10px;
    font-size: 20px;
}